<%#= ENV["facebook_secret"] %>
<%#= ENV["GOOGLE_CLIENT_SECRET"] %>

<%#= link_to "Authenticate with Facebook!", "/auth/facebook" %>


<h1>Log In</h1>
<%= form_for :login do |f| %>
  <div class="small-11 small-centered columns field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="small-11 small-centered columns field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="small-11 small-centered columns field">
    <%= f.submit "Log In", :class =>  "button expand" %>
  </div>
<% end %>
