<%= form_for(@providership) do |f| %>
  <% if @providership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@providership.errors.count, "error") %> prohibited this providership from being saved:</h2>

      <ul>
      <% @providership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :provider_id %><br>
    <%= f.number_field :provider_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
