  <div id="showRow" class="row">
  	<h1 class="col-xs-12">My Appointments</h1>
  </div> 
<% @user.appointments.each do |a| %>
	<% if a.start_time.future? %>
	<div class="row">
		<div div class="col-xs-2 col-sm-1">
           	<img src="<%= a.provider.image_url %>" width="50" id="prof_pic"/>
       	</div>
       	<div class="col-xs-8 col-sm-9">
			<h4><%= link_to a.event_creator.titleize, user_path(@user.id) %></h4>
		</div>
		<div class="col-xs-2 col-sm-1">
			<p><%= link_to "details", appointment_path(a.id) %></p>
		</div>			
     		<div class="col-xs-8 col-sm-9">	
     			<p><%= a.location %></p>
     		</div>
		<div class="col-xs-10 col-sm-11">
			<p><%= a.start_time.strftime("%A, %B %-d at %l:%M %p")%> 
     			<%= a.end_time.strftime("to %l:%M %p") %></p>
     		</div>		
     	</div>		
	<%# end %>	
<% end %>
	
