<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>First namelast name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Image</th>
      <th>Provider</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.first_namelast_name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td><%= image_tag user.image %></td>
        <td><%= user.provider %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

<%if current_user%>
  You are logged in as <%= current_user.user_name if current_user %>
<%= link_to 'LOG OUT!', logout_path, method: :delete %>
<%else %>
  <%= link_to 'SIGN UP', new_user_path %>
  <%= link_to 'LOG IN!', login_path%>
<%end%>

