<h1>Providers</h1>

<%= form_tag(users_path, :method => "get") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Providers", class:"form-control", id:"search"%>
<% end %>

<!-- <i class="fa fa-search"></i>
 -->

<% @users.each do |user| %>
    <div class="row">
        <div div class="col-xs-10 col-sm-11">
            <img src="<%= user.image_url %>" width="50" id="prof_pic"/>
            <div class="providerInfo">
                <h3><%= link_to user.user_name.titleize, user %></h3>  
                <p><%= user.category %></p>
            </div>
        </div>
        <div class="col-xs-2 col-sm-1 text-center" id="listIcon">
            <% if @provderships.present? %>
                provided
            <% else %>
                <%= link_to "", providerships_path(:provider_id => user), :method =>  :post, 
                    class: "fa fa-user-plus"%><br>
            <% end %>
        </div>
        <td><%#= link_to 'Show', user %></td>
        <td><%#= link_to 'Edit', edit_user_path(user) %></td>
        <td><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </div>
<% end %>






 
   