<h2>Users</h2>

<%= form_tag(users_path, :method => "get") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Providers" %>
<%= submit_tag "Search" %>
    <% end %>

   <% @users.each do |user| %>

     <div class="row">
        <div div class="col-xs-2 col-sm-1">
            <img src="<%= user.image_url %>" width="50" id="prof_pic"/>
        </div>
        <div div class="col-xs-7 col-sm-8">
            <h3><%= link_to user.user_name.titleize, user %></h3>
            <p><%= user.category %></p>
        </div>
<!--         <td><%= user.email %></td>
        <td><%= user.phone_number %></td> -->
        <div class="col-xs-3 col-sm-3">
            <% if @provderships.present? %>
                provided
            <% else %>
                <%= link_to "Add Provider", providerships_path(:provider_id => user), :method =>  :post %>
            <% end %>
        </div>
        <td><%#= link_to 'Show', user %></td>
        <td><%#= link_to 'Edit', edit_user_path(user) %></td>
        <td><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     </div>

   <% end %>






   