<h2>Providers</h2>

<%= form_tag(users_path, :method => "get") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Providers", :class => "form-control" %>
<% end %>

<% @users.each do |user| %>
    <div class="row">
        <div div class="col-xs-2 col-sm-1">
            <img src="<%= user.image_url %>" width="50" id="prof_pic"/>
        </div>
        <div div class="col-xs-8 col-sm-9">
            <h3><%= link_to user.user_name.titleize, user %></h3>
        </div>
        <div div class="col-xs-8 col-sm-9">    
            <p><%= user.category %></p>
        </div>
        <div class="col-xs-2 col-sm-2 text-center" id="tagIconIndex">
            <% if @provderships.present? %>
                provided
            <% else %>
                <%= link_to "", providerships_path(:provider_id => user), :method =>  :post, 
                    class: "glyphicon glyphicon-plus"%><br>
                <span id="label"><%= link_to "Add", providerships_path(:provider_id => user), 
                    :method =>  :post %></span>
            <% end %>
        </div>
        <td><%#= link_to 'Show', user %></td>
        <td><%#= link_to 'Edit', edit_user_path(user) %></td>
        <td><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </div>
<% end %>






 
   