<% if current_user.id == @user.id %>
	<h3>Providers</h3>

   <% @user.providerships.each do |p| %>
     <div class="row">
        <div class="col-xs-10 col-sm-11">
            <img src="<%= p.provider.image_url %>" width="50" id="prof_pic"/>
            <div class="providerInfo">
              <h3><%= link_to p.provider.user_name.titleize, user_path(p.provider) %></h3>   
              <p><%= p.provider.category %></p>
            </div>
        </div>

        <div class="col-xs-2 col-sm-1 text-center" id="tagIconPro">
          <%= link_to "", user_path(p.provider.id), class: "glyphicon glyphicon-circle-arrow-right"%><br>
        </div>        

<!--     <%#= link_to "Add Provider", providerships_path(:provider_id => user), :method =>  :post %>
        </div>
        <td><%#= link_to 'Show', user %></td>
        <td><%#= link_to 'Edit', edit_user_path(user) %></td>
        <td><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
     </div>
   <% end %>
   <div class="findPro">
        <%= link_to "Find Provider", users_path, class: "findPro" %>
   </div>
<% end %>   