<!-- <p id="notice"><%= notice %></p> -->
<div class="row" id="profileID">
	<div class="col-xs-2 col-sm-1">
		<img src="<%= @user["image_url"] %>" width="60" id="prof_pic"/>
	</div>
	<div class="col-xs-10 col-sm-11 userShowHead">	
		<h1><%= @user.user_name.titleize %></h1>
	</div>
	<% if @user.is_provider == true %>
		<div class="col-xs-10 col-sm-11 userShowHead">	
			<h3><%= @user.category.titleize %></h3>
		</div>	
	<% end %>	
</div>

<% if current_user.id == @user.id %>
	<div id="showRow" class="row">
		<h2 class="col-xs-12"><%= link_to 'My Appointments', users_appointments_path(@user.id) %></h2>
	</div>	
	<% @user.appointments.each do |a| %>
		<% if a.start_time.future? %>
			<div class="row">
				<h3 class="col-xs-9 col-sm-10"><%= link_to a.event_creator.titleize, user_path(@user.id) %></h4>
 				<p class="col-xs-3 col-sm-2"><%= link_to "Details", appointment_path(a.id) %></p>
 				<p class="col-xs-9 col-sm-10"><%= a.location %></p>
				<p class="col-xs-10 col-sm-10"><%= a.start_time.strftime("%A, %B %-d at %l:%M %p")%> 
      			<%= a.end_time.strftime("to %l:%M %p") %></p>
      		</div>
		<% end %>		
	<% end %>	

<% else %> 
	<div id="showRow" class="row">
		<h2 class="col-xs-12">Available Appointments</h2>
	</div>	
	<% @appointments.each do |a| %>
		<% if (a.summary == "appty") && (a.start_time.future?) && (a.provider.id == @user.id) %>
			<div class="row">
				<h4 class="col-xs-10 col-sm-11"><%= a.event_creator.titleize %></h4>
				<p class="col-xs-10 col-sm-11"><%= a.location %> </p>
				<p class="col-xs-10 col-sm-11"><%= a.start_time.strftime("%A, %B %-d at %l:%M %p")%> 
				<%= a.end_time.strftime("to %l:%M %p") %></p>
				<div class="col-xs-2 col-sm-1 text-center" id="tagIcon">
					<%= link_to "", edit_appointment_path(a.id), class: "glyphicon glyphicon-plus"%><br>
					<span id="label"><%= link_to "Book", edit_appointment_path(a.id) %></span>
				</div>
			</div>	
		<% end %>
	<% end %>
<% end %>



<% if current_user.id == @user.id %>

	<div id="showRow" class="row">
		<h2 class="col-xs-12" ><%= link_to "Providers ", users_providers_path(current_user)%><%= link_to "", users_path, class:"fa fa-search" %></h2>
	</div>	
   <% @user.providerships.each do |p| %>
     <div class="row">
     	<div class="col-xs-10 col-sm-11">
            <img src="<%= p.provider.image_url %>" width="50" id="prof_pic"/>
            <div class="providerInfo">
              <h3><%= link_to p.provider.user_name.titleize, user_path(p.provider) %></h3>   
              <p><%= p.provider.category %></p>
            </div>
        </div>
        <div class="col-xs-2 col-sm-1 text-center" id="listIcon">
          <%= link_to "", user_path(p.provider.id), class: "glyphicon glyphicon-circle-arrow-right"%>
        </div>
    </div>
   <% end %>
<% end %>   
<!-- 	<%# if current_user.is_provider == true %>
		<h3>Clients</h3>
		<ul>
			<%# for user in @user.inverse_providers %>
	   			<li><%#=h user.user_name.titleize %></li> 
			<%# end %>
		</ul> 
	<%# end %>	 -->

<%# if current_user %>
	<%#= link_to 'Edit', edit_user_path(@user) %>
<%# end %>     



