<!DOCTYPE html>
<html>
<head>
  <title>Appty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%if current_user%>
	<%= link_to 'Home', users_path %>
  	You are logged in as <%= current_user.user_name if current_user %>
	<%= link_to 'Log out', auth_logout_path %>
<%end%>
<%= yield %>
</body>
</html>


