<!DOCTYPE html>
<html>
<head>
  <title>Appty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%if current_user%>

<div class="ui left vertical inverted labeled icon sidebar menu">
  <a class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Topics
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Friends
  </a>
  <a class="item">
    <i class="calendar icon"></i>
    History
  </a>
  <a class="item">
    <i class="mail icon"></i>
    Messages
  </a>
  <a class="item">
    <i class="chat icon"></i>
    Discussions
  </a>
  <a class="item">
    <i class="trophy icon"></i>
    Achievements
  </a>
  <a class="item">
    <i class="shop icon"></i>
    Store
  </a>
  <a class="item">
    <i class="settings icon"></i>
    Settings
  </a>
</div>




<nav class="navbar navbar-default">
  <div class="container-fluid" id="nav-contain">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="<%= asset_path( 'Logo.png' ) %>" id="nav_logo">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Hi <%= current_user.user_name %></a></li>
        <li><%= link_to 'Home', users_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li role="separator" class="divider"></li>
        <li><%= link_to 'Log out', auth_logout_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>








<% end %>

<div class="container-fluid">
 <% if flash[:notice] %>
      <div class="alert alert-info alert-dismissible" role="alert"><%= flash[:notice]%>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      </div>
<% end %>


<%= yield %>
</div>
<% if current_user %>
  <div class="visible-xs">
    <div class="nav nav-pills nav-bar navbar-fixed-bottom row">
      <div role="presentation" class="col-xs-4 text-center">
        <a href="#"><span class="glyphicon glyphicon-calendar"></span></a>
      </div>
      <div role="presentation" class="col-xs-4 text-center">
        <a href="#"><span class="glyphicon glyphicon-briefcase"></span></a>
      </div>
      <div role="presentation" class="col-xs-4 text-center">
        <a href="#"><span class="glyphicon glyphicon-home"></span></a>
      </div>
    <div>

  </div>

<% end %>
</body>
</html>


