<!DOCTYPE html>
<html>
<head>
  <title>Appty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%if current_user%>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <img alt="Brand" src="<%= asset_path( 'Logo.png' ) %>" id="nav_logo">
	      </a>
	      <ul class="nav navbar-nav navbar-right">
        	<li class="dropdown">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi <%= current_user.user_name if current_user %><span class="caret"></span></a>
          	<ul class="dropdown-menu">
            	<li><%= link_to 'Home', users_path %></li>
           	 	<li role="separator" class="divider"></li>
           	 	<li><%= link_to 'Log out', auth_logout_path %></li>
          	</ul>
        	</li>
      	</ul>
	    </div>
	  </div>
	</nav>
<%end%>
<%= yield %>
</body>
</html>


