<!DOCTYPE html>
<html>
<head>
  <title>Appty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%if current_user%>
<a href="/">Home</a>
  You are logged in as <%= current_user.user_name if current_user %>
<%= link_to 'LOG OUT!', auth_logout_path %>
  
<%end%>

<%= yield %>

</body>
</html>


